<li id="<%= dom_id(document) %>">
  <%= link_to document.title, document_path(document) %>
  <span> - Added on <%= document.created_at.strftime("%B %d, %Y at %I:%M %p") %></span>

  <%= form_with(model: document, url: document_path(document), method: :delete, data: { turbo_action: 'replace', turbo_confirm: 'Are you sure you want to delete this document?' }) do |form| %>
    <%= form.submit "Delete", class: "delete-button", data: { turbo_stream: turbo_stream.remove(dom_id(document)) } %>
  <% end %>
</li>

